body {
    font-family: 'Arial';
    background: lightgray;
  }
  ul {
    list-style-type: none;
    padding: 20px;
  }
  li {
    padding: 15px;
    background: lightcoral;
    margin-bottom: 10px;
  }